// importing fonts
@import './fonts.scss';

// re-assign bulma variables before import!
// theme colors
$black: hsl(0, 0%, 4%); // default
$black-bis: hsl(0, 0%, 7%); // default
$black-ter: hsl(0, 0%, 14%); // default
$grey-darker: hsl(0, 0%, 21%); // default
$primary: #009ec1;
$info: #35347e;
$warning: #ffcc00;
$success: hsl(141, 71%, 48%);
$light: #f4f4f4;
$footer-background-color: $primary;
$footer-color: white;
$input-hover-border-color: $info;
$input-focus-border-color: $info;
$input-focus-box-shadow-color: rgba($info, 0.3);

// theme fonts
$family-sans-serif: Lato, sans-serif;

// theme other settings
$size-1: 2.75rem;
$size-3: 1.7rem;
$size-4: 1.3rem;
$size-5: 1.1rem;
$input-focus-box-shadow-size: 0 0 0 0.14em;
$radius: 10px;
$radius-small: 10px;
$body-line-height: 1.2;
$gap: 64px;

// re-assign bulma variables before import!
// importing bulma
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '../../node_modules/bulma/bulma.sass';

// adjusting font-size for rem

html {
  font-size: 16px;
}

body {
  font-family: Lato, sans-serif !important;
}

.menu-fix {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  @media screen and (max-width: 1087px) {
    padding-top: 1.9rem !important;
    padding-bottom: 1.9rem !important;
  }
  & div.container nav.level {
    & div.level-right {
      & div:first-child {
        margin-right: 6rem;
        @media screen and (max-width: 1087px) {
          margin-right: 0;
        }
        & a {
          padding-left: 2rem;
          padding-right: 2rem;
          @media screen and (max-width: 1087px) {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            font-size: 0.9rem;
          }
        }
      }
      & div:nth-child(2) {
        text-align: right;
        & ul {
          & li:first-child {
            letter-spacing: 0.07rem;
          }
          & li:nth-child(2) {
            letter-spacing: 0.06rem;
          }
        }
      }
    }
  }
}

.calc-fix {
  border-radius: $radius;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  padding: 3rem 2rem;
  transform: translateY(-150px);
  @media screen and (max-width: 768px) {
    transform: translateY(-205px);
  }
  & h2 {
    padding-bottom: 0.5rem;
  }
  & p {
    padding-bottom: 1rem;
  }
  // getting inside calc's body
  & div#eu-osago-express-calc div.calc div.ant-row-flex {
    & div.ant-col-xl-6,
    div.ant-col-lg-6 {
      @media screen and (min-width: 1280px) {
        width: 29%;
      }
    }
    // getting to button
    & div.calc-control-wrap {
      & div {
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
        & div {
          width: 25%;
          @media screen and (max-width: 991px) {
            width: 100%;
          }
          & span {
            padding: 1rem;
            text-align: center;
          }
          & button {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1279px) {
    width: 90vw !important;
    margin: 0 auto;
  }
}

.icons-fix {
  transform: translateY(-88px);
  @media screen and (max-width: 768px) {
    transform: translateY(-174px);
    & div.column {
      margin-top: 1.6rem !important;
      padding-bottom: 0;
      line-height: 1rem;
    }
  }
}

.requisites-fix {
  transform: translateY(-30px);
  @media screen and (max-width: 768px) {
    transform: translateY(-92px);
    height: 340px;
  }
  & div.container {
    & div.columns {
      & div.column {
        //background-color: olive;
        padding-top: 2.2rem;
        padding-left: 4.2rem;
        @media screen and (max-width: 768px) {
          text-align: center;
          padding-left: 0.75rem;
        }
      }
      & div:first-child {
        //background-color: red;
        padding-left: 12.2rem;
        @media screen and (max-width: 768px) {
          padding-left: 0.75rem;
        }
        @media screen and (min-width: 769px) and (max-width: 1215px) {
          padding-left: 4.2rem;
        }
      }
    }
  }
}

.footer-fix {
  @media screen and (max-width: 768px) {
    text-align: center;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  & div.container div.content p {
    margin: 0;
  }
}

.mainheader-fix {
  text-transform: uppercase;
  font-size: 3.125rem;
  letter-spacing: 0.14rem;
  @media screen and (max-width: 953px) {
    padding-top: 1rem;
    font-size: 2rem;
    letter-spacing: 0.08rem;
  }
}

.hero-bg-fix {
  height: 499px;
  animation: filter-animation 20s infinite;
  @keyframes filter-animation {
    0% {
      filter: brightness(0.8) saturate(0.8);
    }

    50% {
      filter: brightness(1.3) saturate(1.3);
    }

    100% {
      filter: brightness(0.8) saturate(0.8);
    }
  }
}

.hero-spacer {
  width: 118px;
  margin: 0 auto;
  border-bottom: 3px solid $warning;
}

.notice-icon {
  height: 42px;
}

.logo-icon {
  height: 60px;
  @media screen and (max-width: 1087px) {
    height: 39px;
  }
  &-hero {
    height: 65px;
  }
}
